@import './variables.scss';
@import './table.scss';


.main-container {
  max-width: 1200px;
  min-height: 80vh;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid $main-color;
  border-radius: 15px 0 15px 0;

  .button-container {
    width: 300px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }
  .button {
    background: $main-color;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    width: 130px;
    padding: 10px 30px;
    border: none;
    border-radius: 5px 0 5px 0;
    color: #fff;
    cursor: pointer;
  }
  .button + .button {
    margin-left: 15px;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $main-color;
    border-radius: 15px 0 15px 0;
    padding: 20px;
    &-group input,
    &-group select {
      outline: none;
      padding: 10px 5px;
      width: 300px;
      margin: 10px;
      border: 2px solid $main-color;
      border-radius: 5px 0 5px 0;
    }
    &-group select{
      width: 313px;
      cursor: pointer;

    }
  }
.message{
  .error-message,
  .success-message {
    padding: 10px 10px;
    margin: 5px 0;
    min-width: 200px;
    border-radius: 5px 0 5px 0;
    color: #fff;
    text-align: left;
    }
    .error-message{
    background: #df5555;

    }
    .success-message{
      background: #00b4b5;
    }
    &-title{
      font-size: 20px;
      text-align: center;
      margin-bottom: 10px;
    }
    &-body{
      margin-bottom: 10px;
      border-bottom: 1px solid #fff;
      border-top: 1px solid #fff;
      padding: 10px 20px;
    }
}

.loader:before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border: 3px solid transparent;
    border-radius: 50%;
    z-index: 100;
}
.loader:before {
    border-top-color: #00b4b5;
    border-bottom-color: #00b4b5;
    animation: spinner .7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}


}

